@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  width: 100%;
  /* font-family: 'inter', sans-serif; */
  background-color: #f4f4f2;
}

::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}

.alist{
  @apply relative text-gray-900 font-medium text-sm ;
}

